<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setcontent(~{this :: content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


</head>
<body>

<th:block th:fragment="content">

    <h1 class="mt-4">List Board Page
        <span>
            <a th:href="@{/board/register}">
                <button class="btn btn-outline-primary" type="button">REGISTER</button>
            </a>
        </span>
    </h1>

    <form action="/board/list" method="get" id="searchForm">
        <div class="input-group">
            <input type="hidden" name="page" value="1">
            <div class="input-group-prepend">
                <select class="custom-select" name="type">
                    <option th:selected="${pageRequestDTO.type == null}">--------</option>
                    <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                    <option value="c" th:selected="${pageRequestDTO.type == 'c'}">내용</option>
                    <option value="w" th:selected="${pageRequestDTO.type == 'w'}">작성자</option>
                    <option value="tc" th:selected="${pageRequestDTO.type == 'tc'}">제목 + 내용</option>
                    <option value="tcw" th:selected="${pageRequestDTO.type == 'tcw'}">제목 + 내용 + 작성자</option>
                </select>
            </div>
            <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary btn-search" type="submit">Search</button>
                <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">NO</th>
            <th scope="col">TITLE</th>
            <th scope="col">MEMBER</th>
            <th scope="col">REGDATE</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="dto : ${boardList.dtoList}">
            <th scope="row">[[${dto.bno}]]</th>
            <td>
                <a th:href="@{/board/read(bno=${dto.bno}, page=${boardList.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword} )}">
                    <img id="img" th:if="${dto.imageDTOList[0]?.uuid != null && dto.imageDTOList[0]?.folderPath != null
                    && dto.imageDTOList[0]?.fileName != null }"
                         th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">
                    [[${dto.title}]] [<b th:text="${dto.replyCount}"></b>]
                </a>
            </td>
            <td>[[${dto.memberName}]] <small>[[${dto.memberEmail}]]</small></td>
            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
        </tr>
        </tbody>
    </table>

    <ul class="pagination h-100 justify-content-center align-items-center">
        <li class="page-item" th:if="${boardList.prev}">
            <a class="page-link" th:href="@{/board/list(page=${boardList.start -1})}" tabindex="-1">
                PREVIOUS
            </a>
        </li>

        <li th:class="'page-item ' + ${boardList.page == page ? 'active' : ''}" th:each="page : ${boardList.pageList}">
            <a class="page-link" th:href="@{/board/list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword} )}">
                [[${page}]]
            </a>
        </li>

        <li class="page-item" th:if="${boardList.next}">
            <a class="page-link" th:href="@{/board/list(page=${boardList.end +1} )}">
                NEXT
            </a>
        </li>
    </ul>

    <style>
        #img{
            width: 15%;
            /*height: 100px;*/
        }

        a{
            color: black;
        }
    </style>



</th:block>

</body>
</th:block>
</html>