<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setcontent(~{this :: content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <style>
        img{
            width: 100%;
        }
    </style>

<body>

<th:block th:fragment="content">

    <h1>Read Board Page</h1>

    <div class="form-group">
        <label>NO</label>
        <input class="form-control" type="text" name="bno" th:value="${dto.bno}" readonly>
    </div>

    <div class="form-group">
        <label>TITLE</label>
        <input class="form-control" type="text" name="bno" th:value="${dto.title}" readonly>
    </div>

    <div class="form-group">
        <label>CONTENT</label>
        <p th:utext="${dto.content}"></p>
    </div>

    <div class="form-group">
        <label>NAME</label>
        <input class="form-control" type="text" name="memberName" th:value="${dto.memberName}" readonly>
    </div>

    <div class="form-group">
        <label>EMAIL</label>
        <input class="form-control" type="text" name="memberEmail" th:value="${dto.memberEmail}" readonly>
    </div>

    <div class="form-group">
        <label>REGISTRATION DATE</label>
        <input class="form-control" type="text" name="bno" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}" readonly>
    </div>

    <div class="form-group">
        <label>UPDATE DATE</label>
        <input class="form-control" type="text" name="bno" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd')}" readonly>
    </div>

    <div class="form-group uploadResult">
        <ul>
           <li th:each="images : ${dto.imageDTOList}" th:data-file="${images?.getThumbnailURL()}">
               <img th:if="${images != null}" th:src="|/display?fileName=${images.getThumbnailURL()}|">
           </li>
        </ul>
    </div>

    <a th:href="@{/board/update(bno=${dto.bno}, page=${pageRequestDTO.page}, keyword=${pageRequestDTO.keyword}, type=${pageRequestDTO.type} )}">
        <button type="button" class="btn btn-primary">MODIFY</button>
    </a>
    <a th:href="@{/board/list(page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword}) }">
        <button type="button" class="btn btn-danger">LIST</button>
    </a>

    <div class="modal ReplyModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Reply Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div> <!-- modal-header -->

                <div class="modal-body">
                    <div class="form-group">
                        <div class="form-group">
                            <input class="form-control" type="text" name="text" placeholder="write down reply...">
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="hidden" name="memberName">
                        </div>

                        <div class="form-group">
                            <input id="memberEmail" class="form-control" type="text" name="memberEmail" placeholder="write down your email...">
                        </div>
                        <input type="hidden" name="rno">
                    </div>
                </div> <!-- modal-body -->

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger replyRemove">Remove</button>
                    <button type="button" class="btn btn-warning replyModify">Modify</button>
                    <button type="button" class="btn btn-primary replySave">Save</button>
                    <button type="button" class="btn btn-outline-secondary replyClose" data-dismiss="modal">Close</button>
                </div>  <!-- modal-footer -->
            </div>
        </div> <!-- modal-dialog -->
    </div> <!-- modal -->

    <div class="imageModal modal" tabindex="-2" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Picture</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="mt-4">
            <h5><span class="badge badge-info addReply">ADD REPLY</span></h5>
            <h5><span class="badge badge-secondary replyCount">REPLY COUNT [[${dto.replyCount}]]</span></h5>
        </div>
        <div class="list-group replyList">

        </div>
    </div>


    <style>

        .uploadResult{
            margin-top: 30px;
        }

        .uploadResult ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;

        }

        .uploadResult ul li{

            margin-left: 20px;
        }


    </style>

    <script th:javascript>

        $(document).ready(function (){

            var bno = [[${dto.bno}]];

            var modal = $(".ReplyModal");
            var replyList = $(".replyList");

            var inputText = $("input[name='text']");
            var inputWriter = $("input[name='memberEmail']");

            function formatTime(str){

                var data = new Date();

                return data.getFullYear() + "/" +
                    (data.getMonth() +1) + "/" +
                    data.getHours() + ":" +
                    data.getMinutes() + ":" +
                    data.getMinutes();
            }

            function loadJSONDate(){

                $.getJSON('/replies/board/' + bno, function (arr){

                    console.log(arr);

                    var str = "";

                    $.each(arr, function (idx, reply){
                        str += '<div class="card-body" data-rno="'+reply.rno+'" data-email="'+reply.memberEmail+'"><b>'+reply.rno+'</b> ';
                        str += '<h5 class="card-title">'+reply.text+'</h5>';
                        str += '<h6 class="card-subtitle mb-2 text-muted" >'+reply.memberName+'</h6>';
                        str += '<h6 class="card-subtitle2 mb-2 text-muted" >'+reply.memberEmail+'</h6>';
                        str += '<p class="card-text">'+formatTime(reply.regDate)+'</p>';
                        str += '</div>';
                    });
                    replyList.html(str);
                });
            }

            $(".addReply").click(function (){

                modal.modal('show');

                $("input[name='text']").val("");
                $("#memberEmail").val("").attr("readonly", false);
                $("input[name='memberName']").val("").attr("type", "hidden");

                $(".replySave").show();
                $(".replyRemove, .replyModify").hide();

            });

            inputWriter.change(function (){
                console.log("input changed");
                var inputValue = inputWriter.val();
                console.log("input values: " + inputValue);
            })

            $(".replySave").on("click", function (){

                console.log("clicked save BTN");

                var reply = {
                    bno: bno,
                    text: inputText.val(),
                    memberEmail: $("#memberEmail").val()
                }

                console.log(reply);

                $.ajax({
                    url: '/replies/',
                    type: 'POST',
                    data: JSON.stringify(reply),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (result){
                        var replyNo = parseInt(result);
                        alert(result + "번 댓글이 저장됐습니다.");
                        modal.modal('hide');
                        loadJSONDate();
                        self.location.reload();
                    }
                });
            });

            $(".replyList").on("click", ".card-body", function (){

                console.log("clicking okay");

                var rno = $(this).data("rno");
                var email = $(this).data("email");

                console.log("rno: " + rno);
                console.log("email: " + email);

                $("input[name='rno']").val(rno);
                $("input[name='memberEmail']").val(email).attr("readonly", "readonly");
                $("input[name='text']").val($(this).find(".card-title").html());
                $("input[name='memberName']").val($(this).find(".card-subtitle").html()).attr("type", "text").attr("readonly", "readonly");

                $(".replySave").hide();
                $(".replyModify, .replyRemove").show();

                modal.modal('show');
            });

            $(".replyRemove").on("click", function (){

                var rno = $("input[name='rno']").val();

                console.log(rno);

                $.ajax({
                    url: '/replies/' + rno,
                    type: 'DELETE',
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'text',
                    success: function (result){
                        console.log("remove_result: " + result);
                        if(result == "success"){
                            alert("댓글이 성공적으로 삭제 됐습니다.");
                            modal.modal('hide');
                            loadJSONDate();
                        }
                    }
                });
            });

            $(".replyModify").on("click", function (){

                var rno = $("input[name='rno']").val();
                var email = $("input[name='memberEmail']").val();

                var reply = { bno: bno, rno: rno, text: inputText.val(), memberEmail: email}

                $.ajax({
                    url: '/replies/' + rno,
                    type: 'PUT',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(reply),
                    success: function (result){
                        console.log("update_result: " + result);
                        if(result == "success"){
                            alert("댓글이 성공적으로 수정됐습니다.");
                            modal.modal('hide');
                            loadJSONDate();
                        }
                    }
                })
            });

            $(".uploadResult li").click(function (){

                var file = $(this).data("file");

                console.log(file);

                $(".imageModal .modal-body").html("<img style='width:100%' src='/display?fileName="+file+"&size=1'>");
                $(".imageModal").modal("show");
            })

            loadJSONDate();
        });

    </script>

</th:block>

</body>
</th:block>
</html>