<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setcontent(~{this :: content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="content">

    <h1>Update Board Page</h1>

    <form th:action="@{/board/update}" method="post" >

        <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
        <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
        <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">

        <div class="form-group">
            <label>NO</label>
            <input class="form-control" type="text" name="bno" th:value="${dto.bno}" readonly>
        </div>

        <div class="form-group">
            <label>TITLE</label>
            <input class="form-control" type="text" name="title" th:value="${dto.title}" >
        </div>

        <div class="form-group">
            <label>CONTENT</label>
            <textarea name="content" class="form-control" rows="5" >[[${dto.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>NAME</label>
            <input class="form-control" type="text" name="memberName" th:value="${dto.memberName}" readonly>
        </div>

        <div class="form-group">
            <label>EMAIL</label>
            <input class="form-control" type="text" name="memberEmail" th:value="${dto.memberEmail}" readonly>
        </div>

        <div class="form-group">
            <label>REGISTRATION DATE</label>
            <input class="form-control" type="text" name="bno" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}" readonly>
        </div>

        <div class="form-group">
            <label>UPDATE DATE</label>
            <input class="form-control" type="text" name="bno" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd')}" readonly>
        </div>

        <div class="form-group fileForm">
            <label>ATTACH FILES</label>
            <div class="custom-file">
                <input type="file" class="custom-file-input files" id="fileInput" multiple>
                <label class="custom-file-label" data-browse="Browse"></label>
            </div>
        </div>

        <div class="form-group uploadResult" >
            <ul>
                <li th:each="images : ${dto.imageDTOList}" th:if="${images != null}"
                    th:data-path="${images.folderPath}" th:data-uuid="${images.uuid}" th:data-name="${images.fileName}">
                    <img th:if="${images != null}" th:src="|/display?fileName=${images?.getThumbnailURL()}|">
                    <button data-tell="oldLi" class='btn-warning btn-sm' type='button' th:data-file="${images?.getImageURL()}">X</button>
                </li>
            </ul>
        </div>

        <div class="hiddenBox">

        </div>

        <button type="submit" class="btn btn-primary modifyBtn">MODIFY</button>
        <button type="button" class="btn btn-danger removeBtn">REMOVE</button>
        <button type="button" class="btn btn-secondary listBtn">LIST</button>

    </form>

    <style>

        form{
            margin-bottom: 100px;
        }
        .uploadResult{
            margin-top: 30px;

        }

        .uploadResult ul{
            display: flex;
            flex-direction: row;
            list-style: none;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 20px;

        }

        .uploadResult ul li{

            margin-left: 20px;
        }

    </style>

    <script th:javascript>

        $(document).ready(function (){

            $(".removeBtn").on("click", function (e){

                console.log("click");

                $("form").attr("action", "/board/remove").submit();

            });  // remove

            $(".listBtn").on("click", function (){

                var page = $("input[name='page']");
                var keyword = $("input[name='keyword']");
                var type = $("input[name='type']");

                $("form").empty();
                $("form").append(page);
                $("form").append(keyword);
                $("form").append(type);

                $("form").attr("action", "/board/list");
                $("form").attr("method", "get").submit();
            });  // list

            var regex = new RegExp("(.*?)\.(exe|sh|zip|tiff)$");
            var maxSize = 10485760;

            function checkExtension(fileName, size){

                if(size >= maxSize){
                    alert("파일 크기가 너무 큽니다.");
                    return false;
                }

                if (regex.test(fileName)){
                    alert("해당 종류의 파일은 업로드할 수 없습니다.");
                    return false;
                }
                return true;
            }

            $(".custom-file-input").change(function (){

                var formData = new FormData();
                var inputFiles = $(this);
                var files = inputFiles[0].files;

                console.log(files);

                for (var i = 0; i < files.length; i++){

                    if (!checkExtension(files[i].name, files[i].size)){
                        return false;
                    }
                    console.log(files[i]);
                    formData.append("uploadFiles", files[i]);
                }

                $.ajax({
                    url: '/uploadAjax',
                    data: formData,
                    contentType: false,
                    processData: false,
                    type: 'POST',
                    dataType: 'json',
                    success: function (result){
                        console.log(result);
                        showUploadResult(result);
                    },
                    error: function (jqXHR, textStatus, errorThrown){
                        console.log(textStatus);
                    }
                });

                function showUploadResult(arr){

                    if(arr.length == 0 || !arr){
                        return;
                    }

                    var uploadResultUL = $(".uploadResult ul");
                    var str = "";

                    $(arr).each(function (i, obj){
                        var target = obj;

                        str += "<li data-path='"+target.folderPath+"' data-uuid='"+target.uuid+"' data-name='"+target.fileName+"'>";
                        str += "<img src='/display?fileName="+target.thumbnailURL+"'>";
                        str += "<button data-tell='newLi' type='button' class='btn-warning btn-sm' data-file='"+target.imageURL+"'>X</button>";
                        str += "</li>";

                    });
                    uploadResultUL.append(str);
                }
            }); // input change event

            $(".uploadResult").on("click", "li button", function (e){

                console.log("clicking new one");

                var targetURL = $(this).data("file");
                var targetLi = $(this).closest("li");
                var findwitch = $(this).data("tell");

                console.log("file url: " + targetURL);
                console.log("witch One : " + findwitch);

                if(findwitch == "newLi"){
                    console.log("a old file");

                    $.ajax({
                        url: '/removeFile',
                        data: {fileName: targetURL},
                        dataType: 'text',
                        type: 'POST',
                        success: function (result){
                            alert(result);
                            targetLi.remove();
                        }
                    })
                }if (findwitch == "oldLi"){

                    console.log("a new file");

                    var targetLi = $(this).closest("li");

                    targetLi.remove();
                }

            }); // remove

            $(".modifyBtn").on("click", function (e){

                e.preventDefault();

                console.log("clicking...");

                var str = "";

                $(".uploadResult li").each(function (i, obj){

                    var target = $(obj);

                    str += "<input type='hidden' name='imageDTOList["+i+"].folderPath' value='"+target.data("path")+"'>";
                    str += "<input type='hidden' name='imageDTOList["+i+"].uuid' value='"+target.data("uuid")+"'>";
                    str += "<input type='hidden' name='imageDTOList["+i+"].fileName' value='"+target.data("name")+"'>";
                });
                $(".hiddenBox").html(str);
                $("form").submit();
            });



        });

    </script>

</th:block>

</body>
</th:block>
</html>