<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{/layout/basic :: setcontent(~{this :: content})}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<th:block th:fragment="content">

    <h1>Update Board Page</h1>

    <form th:action="@{/board/update}" method="post" >

        <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
        <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
        <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">

        <div class="form-group">
            <label>NO</label>
            <input class="form-control" type="text" name="bno" th:value="${dto.bno}" readonly>
        </div>

        <div class="form-group">
            <label>TITLE</label>
            <input class="form-control" type="text" name="title" th:value="${dto.title}" >
        </div>

        <div class="form-group">
            <label>CONTENT</label>
            <textarea name="content" class="form-control" rows="5" >[[${dto.content}]]</textarea>
        </div>

        <div class="form-group">
            <label>NAME</label>
            <input class="form-control" type="text" name="memberName" th:value="${dto.memberName}" readonly>
        </div>

        <div class="form-group">
            <label>EMAIL</label>
            <input class="form-control" type="text" name="memberEmail" th:value="${dto.memberEmail}" readonly>
        </div>

        <div class="form-group">
            <label>REGISTRATION DATE</label>
            <input class="form-control" type="text" name="bno" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}" readonly>
        </div>

        <div class="form-group">
            <label>UPDATE DATE</label>
            <input class="form-control" type="text" name="bno" th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd')}" readonly>
        </div>

        <button type="submit" class="btn btn-primary">MODIFY</button>
        <button type="button" class="btn btn-danger removeBtn">REMOVE</button>
        <button type="button" class="btn btn-secondary listBtn">LIST</button>

    </form>

    <script th:javascript>

        $(document).ready(function (){

            $(".removeBtn").on("click", function (e){

                console.log("click");

                $("form").attr("action", "/board/remove").submit();

            });

            $(".listBtn").on("click", function (){

                var page = $("input[name='page']");
                var keyword = $("input[name='keyword']");
                var type = $("input[name='type']");

                $("form").empty();
                $("form").append(page);
                $("form").append(keyword);
                $("form").append(type);

                $("form").attr("action", "/board/list");
                $("form").attr("method", "get").submit();
            });

        });

    </script>

</th:block>

</body>
</th:block>
</html>